.body{
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 50px;
}

.container{
  border-radius: 15px;
  
}

.input{
  border-radius: 5px;
  padding: 5px 15px;
  border: 3px solid black;
  margin-right: 20px;
}

.btn{
  margin-right: 15px;
  margin-left: auto;
}

.alert{
  position: absolute !important;
  bottom: 20px;
  margin: 0 auto !important;
}